/node_modules
/public/hot
/public/storage
/public/node_modules
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

resources/views/web/themes/*
!resources/views/web/themes/default
!resources/views/web/themes/karl-master
!resources/views/web/themes/eshop-ecommerce
!resources/views/web/themes/gretong-web

public/themes/*
!public/themes/.gitkeep
